@charset "UTF-8";
/* CSS Document */

.clava-wrapper {
	background-color: #0D0630;
	color: #0D0630;
}

.clava-login-bg {
	background-color: #0D0630;
}

.bg-accent.pb-2.px-2, .bg-accent {
	background-color: #6C36E0;
	color: #ffffff;
}

.border-accent {
	border-color: ##6C36E0;
}

.clava-btn {
	background-color: #6C36E0;
}

.clava-btn:hover {
	background-color: #ffffff;
	border-color: #6C36E0;
	color: #6C36E0;
}
