@charset "UTF-8";
/* CSS Document */

.clava-wrapper {
	background-color: #0D0630;
	color: #ffffff;
}

.clava-wrapper h1 {
	color: #ffffff;
}

.bg-accent.pb-2.px-2, .bg-accent, .border-accent {
	background-color: #0D0630;
	border-color: #6C36E0;
}
